.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        div {
            width: 30%;
            margin-right: 20px;
            margin-top: 10px;
        }
    }
}
